@using CompStore.Web.Models
@using CompStore.Web.HtmlHelpers;
@model CompListViewModel

@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var p in @Model.Computers)
{
    @Html.Partial("CompSummary", p)
    @*<div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">@p.Price.ToString("# руб")</span>
        </h3>
        @using (Html.BeginForm("AddToList", "Basket"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.CompId)

            </div>
        }
        <span class="lead">@p.Description</span>
    </div>*@
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>