@model IEnumerable<CompStore.Domain.Entities.Employee>

@{
    ViewBag.Title = "Админ панель: список сотрудников";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список сотрудников</h3>
    </div>
    <div class="panel-body">
        @if (Model != null)
        {
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-right">ID</th>
                    <th>Имя</th>
                    <th class="text-center">Категория</th>
                    <th class="text-center">Статус</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-right">@item.Id</td>
                        <td>@Html.ActionLink(item.GetFullName(), "EditEmployee", new { item.Id })</td>
                        <td class="text-right">@item.Category.ToString()</td>
                        <td class="text-right">@item.Status.ToString()</td>
                        <td class="text-center">
                            @using (Html.BeginForm("DeleteEmployee", "Admin"))
                            {
                                @Html.Hidden("Id", item.Id)
                                <input type="submit"
                                       class="btn btn-default btn-xs"
                                       value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            @:не найдено ни отдного сотрудника
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить", "CreateEmployee", null,
            new { @class = "btn btn-default" })
        @Html.ActionLink("Главная", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>