@model CompStore.Web.Models.ShoppingIndexViewModel

@{
    ViewBag.Title = "Bаша корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Ваша корзина</h2>
<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Название</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ProductList.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Comp.Name</td>
                <td class="text-right">@line.Comp.Price.ToString("# руб")</td>
                <td class="text-right">
                    @((line.Quantity * line.Comp.Price).ToString("# руб"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromList", "Basket"))
                    {
                        @Html.Hidden("CompId", line.Comp.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.ProductList.TotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @if (Model.ProductList.TotalValue() != 0)
    {
        @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
    }
</div>